# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib

# Virtual env
.venv/
venv/
ENV/

# Build / dist
build/
dist/
*.egg-info/
.eggs/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Reports/logs
*.log
*.csv
.dicom_deid_gui/
